node_modules
dist
dist-ssr
*.local
.vscode
.idea
.DS_Store
test-photos/**/*.png
test-photos/**/*.jpg
test-photos/**/*.jpeg
test-photos/**/*.webp
test-photos/**/*.heic
test-photos/**/trip_database.json
Test PIC/
